html {
  body {
              .header {
                width: 100%;
                height: 20%;
                position: absolute;
                color: rgba(255, 255, 255, 0.041);
                top: 0;
                left: 0;
                right: 0;
                box-shadow: 0 0 20px 0 rgb(4 4 4 / 69%), 0 5px 5px 0 rgb(0 0 0 / 24%);
                background-color: #f8e2e55c;
                overflow: hidden;
                z-index: 90;
              }
              
              .header:before{
                  background: inherit;
                  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
                  filter: blur(10px);
                  color: white;
              }
              
              .navMenu {
                margin-left: 26%;
                
              }
              
              .bouton{
                  border-radius: 26px;
              }
              .bounce {
                  display: block;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  font: normal bold 6rem "Product Sans", sans-serif;
                  white-space: nowrap;
                }
                
                .letter {
                  animation: bounce 0.75s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
                  display: inline-block;
                  transform: translate3d(0, 0, 0);
                  /* margin-top: 0.5em; */
                  text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;
                  font: normal bold 6rem "Product Sans", sans-serif;
                }
                
                .letter:nth-child(1) {
                  animation-delay: 0s;
                  color: #4285f4;
                  font-size: 50%;
                }
                
                .letter:nth-child(2) {
                  animation-delay: 0.08333s;
                  color: #ea4335;
                  font-size: 50%;
                }
                
                .letter:nth-child(3) {
                  animation-delay: 0.16667s;
                  color: #fbbc05;
                  font-size: 50%;
                }
                
                .letter:nth-child(4) {
                  animation-delay: 0.25s;
                  color: #4285f4;
                  font-size: 50%;
                }
                
                .letter:nth-child(5) {
                  animation-delay: 0.33333s;
                  color: #34a853;
                  font-size: 50%;
                }
                
                .letter:nth-child(6) {
                  animation-delay: 0.41667s;
                  color: #ea4335;
                  font-size: 50%;
                }
                
                @keyframes bounce {
                  0% {
                    transform: translate3d(0, 0, 0);
                    text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;
                  }
                  100% {
                    transform: translate3d(0, -0.5em, 0);
                    text-shadow: rgba(0, 0, 0, 0.4) 0 1em 0.35em;
                  }
                }
                
                img.logoImg {
                  width: 100%;
                }
                
                .one {
                  width: 20%;
                  margin-left: 30px;
                  margin-top: 35px;
                }
                
                .two {
                  width: 6%;
                }
                
                .three {
                  width: 26%;
                }
    #bodySite {
      background: rgb(255, 220, 220);

      #slide {
        width: 100% !important;

        div#wowslider-container0 {
          div.ws_images {
            div a {
              display: none !important;
            }
          }
        }

        .carousel-caption h2 {
          font-size: 600%;
          margin-top: 25px;
          font-weight: 600;
          color: #00c0fa;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .carousel-caption p {
          font-size: 150%;
          margin: auto;
          width: 90%;
          line-height: 1;
          text-align: center;
          margin-bottom: 5%;
          font-family: none;
        }

        .carousel-caption button {
          border-radius: 15px;
        }

        .descriOne {
          bottom: 220px;
          width: 40%;
          left: 80px;
        }

        .descritwo {
          left: 50%;
          bottom: 30%;
          width: 40%;
        }

        .descriThree {
          left: 50%;
          bottom: 30%;
          width: 40%;
        }

        .descriFor {
          left: 55%;
          bottom: 30%;
          width: 40%;
        }

        .descriFive {
          bottom: 220px;
          width: 40%;
          left: 80px;
        }
      }

      div#services {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: block !important;
        align-items: center;
        font-family: consolas;

        div.container {
          margin: 0px auto;
          padding: 0px;
          position: relative;
          display: flex;
          justify-content: space-between;
          position: relative;
          bottom: 2.6cm;
          z-index: 1;
        }

        div.container .card {
          background: none;
          border: none;
          position: relative;
          cursor: pointer;
        }

        div.container .card .face {
          width: 100%;
          height: 200px;
          transition: 0.5s;
        }

        div.container .card .face.face1 {
          position: relative;
          background: #b0b7bd;
          ;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          transform: translateY(100px);
        }

        div.container .card:hover .face.face1 {
          background: #f1367f;
          transform: translateY(0);
        }

        div.container .card .face.face1 .content {
          opacity: 0.5;
          transition: 0.5s;
        }

        div.container .card:hover .face.face1 .content {
          opacity: 1;
        }

        div.container .card .face.face1 .content img {
          max-width: 100px;
        }

        div.container .card .face.face1 .content h3 {
          margin: 10px 0 0;
          padding: 0;
          color: #fff;
          text-align: center;
          font-size: 1.5em;
        }

        div.container .card .face.face2 {
          position: relative;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          box-sizing: border-box;
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          transform: translateY(-100px);
        }

        div.container .card:hover .face.face2 {
          transform: translateY(0);
        }

        div.container .card .face.face2 .content p {
          margin: 0;
          padding: 0;
        }

        div.container .card .face.face2 .content a {
          margin: 15px 0 0;
          display: inline-block;
          text-decoration: none;
          font-weight: 900;
          color: #333;
          padding: 5px;
          border: 1px solid #333;
        }

        div.container .card .face.face2 .content a:hover {
          background: #333;
          color: #fff;
        }

        div.propos {
          div.featurette {
            width: 100%;
            margin: 0%;
          }

          div.row.entete {
            width: 100%;
            div h1 {
              text-align: center;
              font-size: 70px;
              position: relative;
              bottom: 100%;
              color: cornflowerblue;
            }
          }
        }
      }
      div#equipe{
          text-align: center;
          div.row.enteteTwo {
            width: 100%;
            margin-top: 10%;
            div h1 {
              text-align: center;
              font-size: 70px;
              color: cornflowerblue;
            }
          }
          div.treefeatures{
            margin-top: 10%;
            margin-bottom: 5%;
          }
      }
      div#price{
        div.row{
          margin: 3% auto;
        }
        div.row.enteteThree {
          width: 100%;
          margin-top: 3%;
          div h1 {
            text-align: center;
            font-size: 70px;
            color: cornflowerblue;
          }
        }
        .card-front__heading {
          font-size: 1rem;
          margin-top: .25rem;
        }
        
        /* Main heading for inside page */
        .inside-page__heading { 
          padding-bottom: 1rem; 
          width: 100%;
        }
        
        /* Mixed */
        
        /* For both inside page's main heading and 'view me' text on card front cover */
        .inside-page__heading,
        .card-front__text-view {
          font-size: 1.3rem;
          font-weight: 800;
          margin-top: .2rem;
        }
        
        .inside-page__heading--city,
        .card-front__text-view--city { color: #ff62b2; }
        
        .inside-page__heading--ski,
        .card-front__text-view--ski { color: #2aaac1; }
        
        .inside-page__heading--beach,
        .card-front__text-view--beach { color: #fa7f67; }
        
        .inside-page__heading--camping,
        .card-front__text-view--camping { color: #00b97c; }
        
        /* Front cover */
        
        .card-front__tp { color: #fafbfa; }
        
        /* For pricing text on card front cover */
        .card-front__text-price {
          font-size: 1.2rem;
          margin-top: -.2rem;
        }
        
        /* Back cover */
        
        /* For inside page's body text */
        .inside-page__text {
          color: #333;
        }
        
        /* Icons ===========================================*/
        
        .card-front__icon {
          fill: #fafbfa;
          font-size: 3vw;
          height: 3.25rem;
          margin-top: -.5rem;
          width: 3.25rem;
        }
        
        /* Buttons =================================================*/
        
        .inside-page__btn {
          background-color: transparent;
          border: 3px solid;
          border-radius: .5rem;
          font-size: 1.2rem;
          font-weight: 600;
          margin-top: 2rem;
          overflow: hidden;
          /* padding: .7rem .75rem; */
          position: relative;
          text-decoration: none;
          transition: all .3s ease;
          width: 90%;
          z-index: 10;
        }
        
        .inside-page__btn::before { 
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transform: scaleY(0);
          transition: all .3s ease;
          width: 100%;
          z-index: -1;
        }
        
        .inside-page__btn--city { 
          border-color: #ff40a1;
          color: #ff40a1;
        }
        
        .inside-page__btn--city::before { 
          background-color: #ff40a1;
        }
        
        .inside-page__btn--ski { 
          border-color: #279eb2;
          color: #279eb2;
        }
        
        .inside-page__btn--ski::before { 
          background-color: #279eb2;
        }
        
        .inside-page__btn--beach { 
          border-color: #fa7f67;
          color: #fa7f67;
        }
        
        .inside-page__btn--beach::before { 
          background-color: #fa7f67;
        }
        
        .inside-page__btn--camping { 
          border-color: #00b97d;
          color: #00b97d;
        }
        
        .inside-page__btn--camping::before { 
          background-color: #00b97d;
        }
        
        .inside-page__btn:hover { 
          color: #fafbfa;
        }
        
        .inside-page__btn:hover::before { 
          transform: scaleY(1);
        }
        
        /* Layout Structure=========================================*/
        
        .main {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100vh;
          width: 100%;
        }
        
        /* Container to hold all cards in one place */
        .card-area {
          align-items: center;
          display: flex;
          flex-wrap: nowrap;
          height: 100%;
          justify-content: space-evenly;
          padding: 1rem;
        }
        
        /* Card ============================================*/
        
        /* Area to hold an individual card */
        .card-section {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          width: 100%;
        }
        
        /* A container to hold the flip card and the inside page */
        .card {
          background-color: rgba(0,0,0, .05);
          box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
          height: 15rem;
          position: relative;
          transition: all 1s ease;
          width: 15rem;
        }
        
        /* Flip card - covering both the front and inside front page */
        
        /* An outer container to hold the flip card. This excludes the inside page */
        .flip-card {
          height: 15rem;
          perspective: 100rem;
          position: absolute;
          right: 0;
          transition: all 1s ease;
          visibility: hidden;
          width: 15rem;
          z-index: 100;
        }
        
        /* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
        /* This is done so content in the inside page can be selected */
        .flip-card > * {
          visibility: visible;
        }
        
        /* An inner container to hold the flip card. This excludes the inside page */
        .flip-card__container {
          height: 100%;
          position: absolute;
          right: 0;
          transform-origin: left;
          transform-style: preserve-3d;
          transition: all 1s ease;
          width: 100%;
        }
        
        .card-front,
        .card-back {
          backface-visibility: hidden;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
        
        /* Styling for the front side of the flip card */
        
        /* container for the front side */
        .card-front {
          background-color: #fafbfa;
          height: 15rem;
          width: 15rem;
        }
        
        /* Front side's top section */
        .card-front__tp {
          align-items: center;
          clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
          display: flex;
          flex-direction: column;
          height: 12rem;
          justify-content: center;
          padding: .75rem;
        }
        
        .card-front__tp--city {
          background: linear-gradient(
            to bottom,
            #ff73b9,
            #ff40a1
          );
        }
        
        .card-front__tp--ski {
          background: linear-gradient(
            to bottom,
            #47c2d7,
            #279eb2
          );
        }
        
        .card-front__tp--beach {
          background: linear-gradient(
            to bottom,
            #fb9b88,
            #f86647
          );
        }
        
        .card-front__tp--camping {
          background: linear-gradient(
            to bottom,
            #00db93,
            #00b97d
          );
        }
        
        /* Front card's bottom section */
        .card-front__bt {
          align-items: center;
          display: flex;
          justify-content: center;
        }
        
        /* Styling for the back side of the flip card */
        
        .card-back {
          background-color: #fafbfa;
          transform: rotateY(180deg);
        }
        
        /* Specifically targeting the <video> element */
        .video__container {
          clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
          height: auto;
          min-height: 100%;
          object-fit: cover;
          width: 100%;
        }
        
        /* Inside page */
        
        .inside-page {
          background-color: #fafbfa;
          box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
          height: 100%;
          padding: 1rem;
          position: absolute;
          right: 0;
          transition: all 1s ease;
          width: 15rem;
          z-index: 1;
        }
        
        .inside-page__container {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 100%;
          text-align: center; 
          width: 100%;
        }
        
        /* Functionality ====================================*/
        
        /* This is to keep the card centered (within its container) when opened */
        .card:hover {
          box-shadow:
          -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
          width: 30rem;
        }
        
        /* When the card is hovered, the flip card container will rotate */
        .card:hover .flip-card__container {
          transform: rotateY(-180deg);
        }
        
        /* When the card is hovered, the shadow on the inside page will shrink to the left */
        .card:hover .inside-page {
          box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
        }
        
      }
      div#staff{
        div.row.enteteThree {
          width: 100%;
          margin-top: 3%;
          div h1 {
            text-align: center;
            font-size: 70px;
            color: cornflowerblue;
          }
        }
        .clear-fix:after {
          display: block;
          clear: both;
          content: '';
        }
        
        .img-responsive {
          max-width: 100%;
          height: auto;
        }
        
        @import 'https://fonts.googleapis.com/css?family=Do+Hyeon';
        
        $color-box-1 : #0f9bc0;
        $color-box-2 : rgba(34, 65, 154, .8);
        $color-box-3 : #57ccfd;
        $color-box-4 : #e660e3;
        $color-box-5 : #f07306;
        $color-box-6 : #9b1308;
        $color-box-7 : #de8b3e;
        
        .card__collection {
            position: relative;
            display: block;
            background: rgba(61, 207, 252, 0.5);
            padding: 10px;
            font-family: 'Do Hyeon', sans-serif;
            overflow: hidden;
            
          .cards {
              width: 300px;
              height: 400px;
              display: block;
              background-size: cover;
              float: left;
              border-radius: 15px;
              position: relative;
              overflow: hidden;
              background-position: center;
              margin: 10px;
          }
          
          .cards--one {
              backface-visibility: hidden;
              &:hover {
                
                &:after {
                  bottom: -20px;
                }
                
                &:before {
                  bottom: -10px;
                }
                
                .cards--one__rect {
                  left: 45%;
                  
                  &--back {
                    left: 50%;
                  }
                }
                
                
              }
              
              &::after {
              content: '';
              display: block;
              position: absolute;
              height: 70px;
              transform: rotate(-3deg);
              background: $color-box-4;
              position: absolute;
              bottom: -80px;  
              left: 0;
              right: -10px;
              z-index: 9;
              transition: all .2s ease-in;
              transition-delay: .3s;
              }
              
              &:before {
                content: '';
                display: block;
                position: absolute;
                height: 80px;
                transform: rotate(-3deg);
                bottom: -90px;
                left: 0;
                background: #fff;
                right: -10px;
                z-index: 5;
                transition: all .2s ease-in;
                transition-delay: .1s;
              }
              
              &__rect {
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                background: $color-box-1;
                width: 126px;
                height: 55px;
                transform: skewY(5deg);
                position: absolute;
                display: block;
                top: 60%;
                left: -45%;
                z-index: 1;
                line-height: 3.3rem;
                text-align: center;
                transition: all .2s ease-in;
                
                &--back {
                  display: block;
                  background: $color-box-2;
                  width: 126px;
                  height: 55px;
                  transform: skewY(7deg);
                  position: absolute;
                  top: 65%;
                  left: -50%;
                  transition: all .2s ease-in;
                  transition-delay: .3s;
                }
                
                p {
                  transform: skewY(-7deg);
                  position: relative;
                }
              }
              
              
            }
          
          .cards--two {
              position: relative;
              backface-visibility: hidden;
              
              p {
                position: absolute;
                top: 83%;
                left: -100%;
                text-transform: capitalize;
                color: #fff;
                font-size: 20px;
                z-index: 8;
                transition: all .6s ease;
              }
              
              &:hover {
                
                p {
                  left: 8%;
                }
                
                img {
                  transform: translateY(-15px);
                }
                
                .cards--two__rect {
                  top: 75%;
                  
                  &:before {
                    transform: translateY(15px);
                  }
                }
                
                li {
                    transform: translateY(0);
                }
                
                .cards--two__tri {
                  right: -40%;
                  
                  &:before {
                    right: -312px;
                  }
                  
                  
                }
              }
              
              img {
                transition: all .2s ease;
              }
              
              &__tri {
                border-top: 220px solid transparent;
                border-bottom: 190px solid transparent;
                border-right: 288px solid #fff;
                opacity: .9;
                position: absolute;
                display: block;
                top: 0;
                right: -100%;
                transition: all .3s ease-in-out;
                
                &:before {
                  border-top: 220px solid transparent;
                  border-bottom: 190px solid transparent;
                  border-right: 288px solid $color-box-3;
                  position: absolute;
                  content: '';
                  display: block;
                  top: -220px;
                  right: -612px;
                  transition: all .3s ease-in-out;
                  transition-delay: .2s;
                }
              }
              
              &__rect {
                width: 750px;
                height: 200px;
                background: #fff;
                display: block;
                position: absolute;
                top: 175%;
                left: -78%;
                transform: rotate(30deg);
                z-index: 5;
                opacity: .9;
                transition: all .3s ease-in-out;
                
                &:before {
                  content: '';
                  display: block;
                  width: 100%;
                  position: relative;
                  height: 100%;
                  background: $color-box-5;
                  transform: translateY(200px);
                  z-index: 2;
                  transition: all .3s ease-in-out;
                  transition-delay: .1s;
                }
              }
              
              ul {
                list-style: none;
                position: absolute;
                bottom: 0;
                left: 10px;
                z-index: 9;
                
                li {
                  display: inline-block;
                  font-size: 16px;
                  margin: 7px;
                  color: #fff;
                  transition: all .2s ease-in-out;
                  transform: translateY(100px);
                  
                  &:nth-child(2) {
                    transition-delay: .2s;
                  }
                  
                  &:nth-child(3) {
                    transition-delay: .3s;
                  }
                  
                  &:nth-child(4) {
                    transition-delay: .4s;
                  }
                }
              }
            }
          
          .cards--three {
            position: relative;
            z-index: 10;
            
            &:hover {
              .cards--three__rect-1 {
                left: 10%;
                
                .shadow-1 {
                  left: -20%;
                }
              }
              
              .cards--three__rect-2 {
                left: 60%;
                
                &:before {
                  left: -100%;
                }
                
                &:after {
                  left: 80%;
                }
                
                .shadow-2 {
                  left: -10%;
                }
                
              }
              
              .cards--three__circle {
                 transform: scale(1);
                
                &:before {
                  transform: scale(.9);
                }
              }
              
              .cards--three__list {        
                li {
                  transform: translateX(0);
                }
              }
            }
            
            &__rect-1 {
              background: #fff;
              width: 200px;
              height: 110px;
              transform: skewX(-20deg);
              display: block;
              position: absolute;
              top: 73%;
              opacity: .9;
              left: -100%;
              z-index: 8;
              transition: all .5s ease-in;
              
              p {
                font-size: 20px;
                color: #fff;
                transform: skewX(20deg);
                line-height: 6rem;
              }
              
             .shadow-1 {
                background: $color-box-6;
                width: 230px;
                height: 100px;
                display: block;
                position: absolute;
                left: -200%;
                z-index: -1;
               transition: all .3s ease-in;
              }
            }
            
            &__rect-2 {
              width: 100px;
              height: 70px;
              background: #fff;
              position: absolute;
              top: 65%;
              left: 1000%;
              opacity: .9;
              transform: skewX(-20deg);
              z-index: 8;
              transition: all .5s ease-in;
              
              &::before {
                content: '';
                display: block;
                width: 50px;
                height: 40px;
                background: $color-box-3;
                opacity: 1;
                position: absolute;
                left: 500%;
                top: 10%;
                transition: all .3s ease-in;
              }
              
              &::after {
                content: '';
                display: block;
                width: 50px;
                height: 40px;
                background: $color-box-6;
                opacity: 1;
                position: absolute;
                left: 500%;
                top: 114%;
                transition: all .5s ease-in;
                transition-delay: .2s;
              }
              
              .shadow-2 {
                background: $color-box-3;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: -10%;
                left: 500%;
                transition: all .5s ease-in;
                transition-delay: .2s;
              }
              
            }
            
            &__circle {
              width: 220px;
              height: 220px;
              border-radius: 50%;
              background: #fff;
              position: absolute;
              top: -15%;
              left: 50%;
              opacity: .9;
              transform: scale(0);
              transition: all .3s ease;
              
              &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: $color-box-6;
                border-radius: 50%;
                transform: scale(0);
                transition: all .3s ease;
                transition-delay: .2s;
              }
            }
            
            &__list {
            list-style: none;
            position: absolute;
            top: -9px;
            right: 7px;
            padding-top: 60px;
            transition: all .4s ease;
              
              li {
                display: inline-block;
                margin: 4px;
                color: #fff;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: rgba(87, 204, 253, .9);
                text-align: center;
                line-height: 1.7rem;
                font-size: 12px;
                transition: all .3s ease;
                transform: translateX(500%);
                
                &:nth-child(1){
                  transition-delay: .2s;
                }
                
                &:nth-child(2){
                  transition-delay: .3s;
                }
                
                &:nth-child(3){
                  transition-delay: .4s;
                }
              }
            }
          }
         
        }
        
      }
    }
  }
}